<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <display-name>Feed Combiner</display-name>
    <description>
        Feed Combiner is an application / service that allows you to create a combined feed.
        This feed combines (aggregates) entries from all (original) individual feeds that were
        used to create the combined feed. Besides the fact that one can subscribe to recieve
        new events from this newly created combined feed the application exposes the feed entries
        as either a HTML page or an JSON object.
    </description>
</web-app>